<!-- <h1>{{ title }}</h1>

<app-child [item]="data"></app-child>

<button (click)="updateChild()">Update Child Component</button>

<app-child-component
  (updateDataChildEvent)="updateDataChild($event)"
></app-child-component> -->

<!-- {{ value }}

<! reactive form in Angular...... -->
<!--
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input
    type="text"
    placeholder="Enter Name"
    name="user"
    formControlName="user"
  />
  <br />
  <span style="color: red;" *ngIf="user && user.invalid &&user.touched">Please Enter Valid user</span>
  <br />
  <input
    type="password"
    placeholder="Enter password"
    name="password"
    formControlName="password"
  />
  <br />
  <span style="color: red;" *ngIf="password && password.invalid &&password.touched">Please Enter Valid password</span>
  <br />
  <button [disabled]="loginForm.invalid">Login</button>
</form>  -->

<!--
<app-login></app-login>

<br>

<app-signup></app-signup> -->


<ul>

  <li> <a routerLink="login">Login</a></li>
  <li> <a routerLink="signup">signup</a></li>

</ul>

<router-outlet></router-outlet>
